@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@media (max-width: 768px) {
    /* Estilos para pantallas más pequeñas, como smartphones */
}

@media (max-width: 480px) {
    /* Estilos para pantallas aún más pequeñas, como dispositivos móviles en modo retrato */
}



@font-face {
    font-family: "Dream MMA";
    src: url(/fonts/Dream\ MMA.ttf) format("truetype");
}

@font-face {
    font-family: "Ocean Wave";
    src: url(/fonts/Ocean\ Wave.ttf) format("truetype");
}

a {
    font-family: 'Rubik', sans-serif;
}

body {
    background-image: url(/img/Hexagon.svg);
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    font-family: 'Dream MMA';
    color: #1E2327;
    font-size: 3em;
}

h2 {
    font-family: 'Ocean Wave';
    font-size: 3em;
    margin-top: -30px;
    color: #00819B;
    margin-top: -1em;
}



.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25em;
    padding: 25px;
    transform: translate(-50%, -50%);
    background: #f4fefd;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}

.login-box form input {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box input:hover {
    background: #00819B;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #00819B,
        0 0 10px #00819B,
}

.login-box input span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box input span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #005c7e);
    animation: btn-anim1 2s linear infinite;
}

.wrong-password {
    color: red;
    font-size: large;
}



