@font-face {
    font-family: 'Largest Genome Font';
    src: url('/resources/fonts/Largest_Genome_Font.otf') format('truetype');
}

@font-face {
    font-family: 'Phudu Font';
    src: url('/resources/fonts/Phudu_Font.ttf') format('truetype');
}



@media (max-width: 768px) {
    .contenido h1 {
        font-size: 24px;
    }

    .contenido h2 {
        font-size: 18px;
        margin: -10px;

    }

    .nav-menu a {
        font-size: 15px;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .contenido h1 {
        font-size: 30px;
    }

    .contenido h2 {
        font-size: 20px;
        margin: -10px;
    }

    .nav-menu a {
        font-size: 18px;
    }

    .contenido .titulo {
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }

}

@media (min-width: 1025px) {
    .contenido h1 {
        font-size: 36px;
    }

    .contenido h2 {
        font-size: 22px;
        margin: -10px;
    }

    .nav-menu a {
        font-size: 20px;
    }

    .contenido .titulo {
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }


}

.nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-menu ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0;
}

.nav-menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Phudu Font';
    position: relative;
    text-align: center;

}

.nav-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-menu a:hover::after {
    transform: scaleX(1);
}


#video-fondo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.contenido {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: -1;
}


.contenido h1 {
    font-family: 'Largest Genome Font';
}

.contenido .titulo {
    font-family: 'Phudu Font';
}


.contenido h2 {
    font-family: 'Phudu Font';
}


.letter {
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.letter:hover {
    text-shadow: 0 0 20px #ffffffaa;
    transform: scale(1.1);
}

.logo {
    transition: transform 0.3s ease, transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.3);
}